@import url('https://fonts.googleapis.com/css2?family=Mooli&family=Poppins:ital,wght@0,400;1,300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    height: auto;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    background-position: center;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

.button{
    color: black;
}

/* home */

.shop-content {
    display: grid;
    grid-template-columns: repeat(1);
    gap: 8rem;
    place-items: center;
    margin-top: 13rem;
}

.shop-content a {
    text-decoration: none;
}

.shop-content a:hover h3{
    color:coral;
}

.row {
    position: relative;
    width: 750px;
    height: 600px;
    background: transparent;
    border: 2px solid white;
    border-radius: 3rem;
    margin: auto;
    text-align: center;
    box-shadow: -1px 0 5px 1px white;
}

.row img {
    height: 350px;
    width: 600px;
    border: 2px solid white;
    border-radius: 20px;
    box-shadow: -1px 0 5px 1px white;
}
.row h3 {
    padding-top: 30px;
    padding-bottom: 40px;
    font-size: 35px;
    margin-bottom: 5px;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
}

.row p {
    padding-top: 30px;
    font-size: 23px;
    text-decoration: none;
    color: white;
}
/* end home */

@media (max-width: 880px) {
    .shop-content {
        grid-template-columns: repeat(1);
        gap: 6rem;
        margin-top: 13rem;
        place-items: center;
    }

    .row {
        width: 600px;
        height: 500px;
    }

    .row img {
        height: 300px;
        width: 500px;
        border: 2px solid white;
        border-radius: 20px;
    }
    .row h3 {
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 33px;
        margin-bottom: 5px;
        font-weight: 700;
        color: #ffffff;
        text-align: center;
    }
    
    .row p {
        padding-top: 30px;
        font-size: 23px;
    }
}

@media (max-width: 680px) {

    .shop-content {
        grid-template-columns: repeat(1);
        gap: 3rem;
        margin-top: 13rem;
    }

    .row {
        width: 450px;
        height: 450px;
    }

    .row img {
        height: 240px;
        width: 360px;
        border: 2px solid white;
        border-radius: 20px;
    }
    .row h3 {
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 33px;
        margin-bottom: 5px;
        font-weight: 700;
        color: #ffffff;
        text-align: center;
    }
    
    .row p {
        padding-top: 30px;
        font-size: 23px;
    }
}

@media (max-width: 510px) {
    .shop-content {
        grid-template-columns: repeat(1);
        gap: 3rem;
        margin-top: 8rem;
    }

    .row {
        width: 330px;
        height: 430px;
    }

    .row img {
        width: 280px;
        height: 220px;
        border: 2px solid white;
        border-radius: 20px;
    }
    .row h3 {
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 33px;
        margin-bottom: 5px;
        font-weight: 700;
        color: #ffffff;
        text-align: center;
    }
    
    .row p {
        padding-top: 30px;
        font-size: 23px;
    }
}