@import url('https://fonts.googleapis.com/css2?family=Mooli&family=Poppins:ital,wght@0,400;1,300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    background-position: center;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

/* form login */
.wrapper {
    margin-top: 6rem;
    position: relative;
    width: 500px;
    height: 540px;
    background: transparent;
    border: 3px solid #ffffff;
    border-radius: 20px;
    backdrop-filter: blur(50px);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: height .2s ease;
}

.wrapper.active {
    margin-top: 10rem;
    height: 600px;
}
.wrapper .form-box {
    width: 100%;
    padding: 20px;
}

.wrapper .form-box.login {
    transition: transform .18s ease;
    transform: translateX(0);
}

.wrapper.active .form-box.login {
    transition: none;
    transform: translateX(-500px);
}

.wrapper .form-box.register {
    position: absolute;
    transition: none;
    transform: translateX(500px);
}

.wrapper.active .form-box.register {
    transition: transform .18s ease;
    transform: translateX(0);
}

.form-box.register form {
    padding: 20px;
}

.form-box h2 {
    font-size: 2.5em;
    color: rgb(255, 255, 255);
    text-align: center;
}
.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2.2px solid rgb(255, 255, 255);
    margin: 30px 0;
}
.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1.1em;
    color: rgb(255, 255, 255);
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}
.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;
}
.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: rgb(255, 255, 255);
    font-weight: 500;
    padding: 0 35px 0 5px;
}
.input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: rgb(255, 255, 255);
    line-height: 57px;
}
.remember-forgot {
    font-size: .9em;
    color: rgb(255, 255, 255);
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.remember-forgot label input {
    accent-color: rgb(255, 255, 255);
    margin-right: 3px;
}
.remember-forgot a {
    color:rgb(255, 255, 255);
    text-decoration: none;
}
.remember-forgot a:hover {
    text-decoration: underline;
}
.btn {
    width: 100%;
    height: 45px;
    border: 2px solid white;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    background: transparent;
    font-weight: bold;
    color: white;
}
.login-register {
    font-size: .9em;
    color: rgb(255, 255, 255);
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}
.login-register p a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 600;
}
.login-register p a:hover {
    text-decoration: underline;
}
/* end form login */

/* Responsive */
@media (max-width: 800px) {

    .wrapper {
        width: 500px;
        height: 540px;
    }
    .wrapper.active {
        height: 600px;
        padding: 20px;
    }

    .wrapper .form-box {
        width: 100%;
    }

    .form-box h2 {
        font-size: 2.2em;
    }
    .form-box.register form {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (max-width: 590px) {

    .wrapper {
        margin-top: 2rem;
        width: 350px;
        height: 480px;
    }

    .wrapper.active {
        margin-top: 10rem;
        margin-bottom: 2rem;
        height: 600px;
        width: 340px;
    }

    .wrapper .form-box {
        padding: 20px;
    }
}