@import url('https://fonts.googleapis.com/css2?family=Mooli&family=Poppins:ital,wght@0,400;1,300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background: url(); */
    background-color: #D8D9DA;
    background-size: cover;
    background-position: center;
}

.input-box {
    position: relative;
    width: 500px;
    height: 700px;
    background: rgb(255, 148, 72);
    border-radius: 3rem;
    margin-top: 17rem;
    text-align: center;
}

.input-box h1{
    padding-top: 15px;
    margin-bottom: 20px;
    color: white;
    background-color: rgb(62, 62, 62);
    border-radius: 2rem;
}

#orderbox {
    display: none;
    position: absolute;
    width: 350px;
    height: 530px;
    background: white;
    border-radius: 2rem;
    margin: auto;
    text-align: center;
}

#orderbox #order {
    background-color: rgb(62, 62, 62);
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 2rem;
}

#orderbox #ormenu {
    padding-top: 20px;
    padding-bottom: 20px;
}

.allinone {
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden;
    width: 500px;
    height: 560px;
}

/* All order */

.input-box #allorder {
    position: absolute;
    width: 350px;
    height: 530px;
    background: white;
    border-radius: 2rem;
    margin: auto;
    text-align: center;
    margin-bottom: 20px;
    overflow: auto;
}

#allorder h2 {
    background-color: rgb(62, 62, 62);
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 2rem;
}

#allorder #listorder {
    text-align: left;
    padding-top: 20px;
    padding-left: 20px;
    display: grid;
    grid-template-rows: auto;
}

.input-box #button {
    color: white;
    padding: 10px;
    text-decoration: none;
    border: 2px solid white;
    border-radius: 99999px;
    background-color: rgb(62, 62, 62);
}

.input-box #button:hover {
    background-color: white;
    color: coral;
}
.input-box #button2 {
    color: white;
    padding: 10px;
    text-decoration: none;
    border: 2px solid white;
    border-radius: 99999px;
    background-color: rgb(62, 62, 62);
}

.input-box #button2:hover {
    background-color: white;
    color: coral;
}

@media (max-width: 510px) {
    .input-box {
        width: 300px;
        height: 600px;
    }
    .allinone {
        margin-left: 0px;
        width: 300px;
        height: 450px;
        margin-bottom: 20px;
    }
    .input-box #allorder {
        width: 250px;
        height: 450px;
        margin-left: 0px;
    }
    .input-box #orderbox {
        margin-left: 0px;
        width: 250px;
        height: 450px;
    }
}

@media (max-width: 510px) {
    .input-box {
        width: 300px;
        height: 600px;
    }
    .allinone {
        margin-left: 0px;
        width: 300px;
        height: 450px;
        margin-bottom: 20px;
    }
    .input-box #allorder {
        width: 250px;
        height: 450px;
        margin-left: 0px;
    }
    .input-box #orderbox {
        margin-left: 0px;
        width: 250px;
        height: 450px;
    }
}