@import url('https://fonts.googleapis.com/css2?family=Mooli&family=Poppins:ital,wght@0,400;1,300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    background-position: center;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

.input-box {
    position: relative;
    width: 500px;
    height: 720px;
    background: transparent;
    border: 2px solid white;
    box-shadow: -1px 0 5px 1px grey;
    border-radius: 2rem;
    margin-top: 12rem;
    text-align: center;
}

.input-box h1{
    padding-top: 15px;
    padding-bottom: 5px;
    margin-bottom: 20px;
    color: white;
    border-radius: 2rem;
    box-shadow: -1px 0 5px 1px white;
}

#orderbox {
    display: none;
    position: absolute;
    width: 350px;
    height: 530px;
    background: white;
    border-radius: 2rem;
    margin: auto;
    text-align: center;
}

#orderbox #order {
    background-color: transparent;
    color: #e73c7e;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 2rem;
    border: 2px solid #e73c7e;
}

#orderbox #ormenu {
    color: #23d5ab;
    padding-top: 20px;
    padding-bottom: 20px;
}

#orderbox #ormenu input {
    border: 1.5px solid #23d5ab;
    border-radius: 1rem;
    text-align: center;
}

#orderbox #ortime {
    color:#23d5ab;
    padding-top: 20px;
    padding-bottom: 20px;
}

#orderbox #ortime input {
    border: 1.5px solid #23d5ab;
    border-radius: 1rem;
    text-align: center;
    padding-left: 10px;
}

#orderbox button {
    border: orange 2px solid;
    border-radius: 1rem;
    padding: 3px;
    background-color: transparent;
    color: orange;
}

#orderbox button:hover {
    border: orange 3px solid;
    border-radius: 1rem;
    padding: 4px;
    background-color: transparent;
    color: orange;
    transition: 1.0ms;
    font-size: 13px;
}

.allinone {
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden;
    width: 500px;
    height: 560px;
}

/* All order */

.input-box #allorder {
    position: absolute;
    width: 350px;
    height: 530px;
    background: white;
    border-radius: 2rem;
    margin: auto;
    text-align: center;
    margin-bottom: 20px;
    overflow: auto;
    box-shadow: -1px 0 5px 1px #e73c7e;
}

#allorder h2 {
    color: #e73c7e;
    border: 2px solid #e73c7e;
    border-radius: 2rem;
    padding-top: 10px;
    padding-bottom: 10px;
}

#allorder #listorder {
    text-align: left;
    padding-top: 20px;
    padding-left: 20px;
    display: grid;
    grid-template-rows: auto;
}

.input-box #button {
    color: white;
    padding: 10px;
    text-decoration: none;
    border: 2px solid white;
    box-shadow: -1px 0 5px 1px white;
    border-radius: 99999px;
    background-color: transparent;
    font-weight: bold;
}

.input-box #button:hover {
    background-color: white;
    padding: 12px;
    border: 3px solid white;
    color: coral;
}
.input-box #button2 {
    color: white;
    padding: 10px;
    text-decoration: none;
    border: 2px solid white;
    box-shadow: -1px 0 5px 1px white;
    border-radius: 99999px;
    background-color: transparent;
}

.input-box #button2:hover {
    background-color: white;
    padding: 12px;
    border: 3px solid white;
    color: coral;
}

@media (max-width: 510px) {
    .input-box {
        margin-top: 7rem;
        width: 300px;
        height: 620px;
    }
    .allinone {
        margin-left: 0px;
        width: 300px;
        height: 450px;
        margin-bottom: 20px;
    }
    .input-box #allorder {
        width: 250px;
        height: 450px;
        margin-left: 0px;
    }
    .input-box #orderbox {
        margin-left: 0px;
        width: 250px;
        height: 450px;
    }
}