<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" 
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{{ url_for('static',filename='css/navbar.css') }}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <header class="sticky">
        <div class="navbar">
            <div class="logo"><a href="#">IT restaurant</a></div>
                <ul class="links">
                    <li><a href="{{ url_for('home') }}">Home</a></li>
                    <li><a href="#">Shop</a></li>
                    <li><a href="#">My shop</a></li>
                </ul>
            <a href="{{ url_for('logout') }}" class="action_btn">Logout</a>
            <div class="toggle_btn">
                <i class="fa-solid fa-bars"></i>
            </div>
        </div>
            <!-- menu หลังกด toggle -->
        <div class="dropdown_menu">
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="hero">Shop</a></li>
            <li><a href="hero">My shop</a></li>
            <li><a href="{{ url_for('logout')}}" class="action_btn">Logout</a></li>
        </div>
    </header>
        <!-- กด toggle แล้วมี dropdown menu -->
        <script>
            const toggleBtn = document.querySelector('.toggle_btn')
            const toggleBtnIcon = document.querySelector('.toggle_btn i')
            const dropDownMenu = document.querySelector('.dropdown_menu')
    
            toggleBtn.onclick = function() {
                dropDownMenu.classList.toggle('open')
                const isOpen = dropDownMenu.classList.contains('open')
    
                toggleBtnIcon.classList = isOpen
                ? 'fa-solid fa-xmark'
                : 'fa-solid fa-bars'
            }
        </script>
        <!-- ให้ header อยู่บน layer บนสุด -->
        <script>
            // When the user scrolls the page, execute myFunction
            window.onscroll = function() {myFunction()};

            // Get the header
            var header = document.getElementById("header");

            // Get the offset position of the navbar
            var sticky = header.offsetTop;

            // Add the sticky class to the header when you reach its scroll position. Remove "sticky" when you leave the scroll position
            function myFunction() {
            if (window.pageYOffset > sticky) {
                header.classList.add("sticky");
            } else {
                header.classList.remove("sticky");
            }
            }
        </script>

    {% block header %}
    {% endblock %}
</body>
</html>