<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{Shopnames}}</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/shoppage.css') }}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    {% extends "header.html" %}
    {% block header %}
    <div class="input-box">
        <h1 id="menu">Name</h1>

        <!-- allorder -->
        <div id="allorder">
            <h2>All Order</h2>
            <div id='listorder'>
                {% for i in Order %}
                    <h3>{{i[0]}}</h3><p>time</p>
                {% endfor %}
            </div>
        </div>
        <a href="" class="button">สั่งอาหาร</a>
        <!-- สั่งอาหาร -->
        <div class="orderbox">
            <h2 id="order">สั่งอาหาร</h2>
            <div id="ormenu">
                <h2>Menu</h2>
                <form action="#" method="POST">
                <input type="text" id="menu" name="menu"></input>
            </div>

            <div id="ortime">
                <h2>Time</h2>
                <input type="time" id="times" name="times"></input>
            </div>

            <div id="ornote">
                <h2>Note</h2>
                <input type="text" id="note" name="note"></input>
            </div>
            <button type="submit">submit</button>
            <button type="button">cancel</button>
                </form>
        </div>

    </div>
    {% endblock %}
</body>
</html>