<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{help}}</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/order_list.css') }}">
</head>
<body>
    {% extends "header.html" %}
    {% block header %}
    <div id="allorder">
        <h1>All Order</h1>
        <div id='listorder'>
            <!-- ดึงข้อมูลลิสorderจากdatabaseทำยังไงงง -->
            {% for i in Order %}
                <h3>{{i[3]}}</h3><p>time {{i[2]}}</p><a href="{{ url_for('delete_menu', menu_id=i[0]) }}">
                    <i class="fa-regular fa-circle-check" style="color: #3eb314;"></i></a>
                <hr width=95% size=2 color=black>
            {% endfor %}
        </div>
    </div>
    {% endblock %}
</body>
</html>
 