@import url('https://fonts.googleapis.com/css2?family=Mooli&family=Poppins:ital,wght@0,400;1,300&display=swap');

body {
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color: #D8D9DA;
    background-size: cover;
    background-position: center;
}

.button{
    color: black;
}

/* home */

.shop-content {
    display: grid;
    grid-template-columns: repeat(1);
    gap: 8rem;
    place-items: center;
    margin-top: 13rem;
}

.shop-content a {
    text-decoration: none;
}

.shop-content a:hover h3{
    color:coral;
}

.row {
    position: relative;
    width: 750px;
    height: 600px;
    background: #272829;
    border-radius: 3rem;
    margin: auto;
    text-align: center;
    box-shadow: -1px 0 5px 1px rgb(62, 62, 62);
}

.row img {
    height: 350px;
    width: 600px;
    border: 2px solid white;
    border-radius: 20px;
}
.row h3 {
    padding-top: 30px;
    padding-bottom: 40px;
    font-size: 35px;
    margin-bottom: 5px;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
}

.row p {
    padding-top: 30px;
    font-size: 23px;
    text-decoration: none;
    color: white;
}
/* end home */

@media (max-width: 880px) {
    .shop-content {
        grid-template-columns: repeat(1);
        gap: 6rem;
        margin-top: 13rem;
        place-items: center;
    }

    .row {
        width: 600px;
        height: 500px;
    }

    .row img {
        height: 300px;
        width: 500px;
        border: 2px solid white;
        border-radius: 20px;
    }
    .row h3 {
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 33px;
        margin-bottom: 5px;
        font-weight: 700;
        color: #ffffff;
        text-align: center;
    }
    
    .row p {
        padding-top: 30px;
        font-size: 23px;
    }
}

@media (max-width: 680px) {

    .shop-content {
        grid-template-columns: repeat(1);
        gap: 3rem;
        margin-top: 13rem;
    }

    .row {
        width: 450px;
        height: 450px;
    }

    .row img {
        height: 240px;
        width: 360px;
        border: 2px solid white;
        border-radius: 20px;
    }
    .row h3 {
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 33px;
        margin-bottom: 5px;
        font-weight: 700;
        color: #ffffff;
        text-align: center;
    }
    
    .row p {
        padding-top: 30px;
        font-size: 23px;
    }
}

@media (max-width: 510px) {
    .shop-content {
        grid-template-columns: repeat(1);
        gap: 3rem;
        margin-top: 8rem;
    }

    .row {
        width: 330px;
        height: 430px;
    }

    .row img {
        width: 280px;
        height: 220px;
        border: 2px solid white;
        border-radius: 20px;
    }
    .row h3 {
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 33px;
        margin-bottom: 5px;
        font-weight: 700;
        color: #ffffff;
        text-align: center;
    }
    
    .row p {
        padding-top: 30px;
        font-size: 23px;
    }
}