@import url('https://fonts.googleapis.com/css2?family=Mooli&family=Poppins:ital,wght@0,400;1,300&display=swap');

body {
    display: flex;
    justify-content: center;
    height: 100vh;
    background: url();
    background-size: cover;
    background-position: center;
}

.button{
    color: black;
}

/* home */

.shop-content {
    display: grid;
    grid-template-columns: repeat(1);
    gap: 8rem;
    place-items: center;
    margin-top: 15rem;
}

.shop-content a {
    text-decoration: none;
}

.shop-content a:hover h3{
    color:coral;
}
.row {
    position: relative;
    width: 750px;
    height: 600px;
    background: rgb(34, 34, 34);
    border-radius: 1rem;
    margin: auto;
    text-align: center;
    box-shadow: -1px 0 5px 1px rgb(62, 62, 62);
}

.row img {
    height: 350px;
    width: 600px;
    border: 2px solid white;
    border-radius: 20px;
}
.row h3 {
    padding-top: 30px;
    padding-bottom: 40px;
    font-size: 35px;
    margin-bottom: 5px;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
}

.row p {
    padding-top: 30px;
    font-size: 23px;
    text-decoration: none;
    color: white;
}

/* .button {
    display: inline-block;
    border-radius: 0.3rem;
    background: rgb(0, 0, 0);
    padding: 3px 10px;
    transition: all .20s ease;
}

.button:hover, button:hover {
    background: coral;
    color: black;
    box-shadow: -1px 0 5px 1px rgb(255, 138, 96);
}

button {
    background: none;
    border: none;
    cursor: pointer;
    font-weight: bold;
    color: coral;
} */


/* end home */

@media (max-width: 970px) {
    .shop-content {
        grid-template-columns: repeat(1);
        gap: 6rem;
        margin-top: 13rem;
        place-items: center;
    }

    .row {
        width: 600px;
        height: 500px;
    }

    .row img {
        height: 300px;
        width: 500px;
        border: 2px solid white;
        border-radius: 20px;
    }
    .row h3 {
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 33px;
        margin-bottom: 5px;
        font-weight: 700;
        color: #ffffff;
        text-align: center;
    }
    
    .row p {
        padding-top: 30px;
        font-size: 23px;
    }
}

@media (max-width: 700px) {

    .shop-content {
        grid-template-columns: repeat(1);
        gap: 3rem;
        margin-top: 15rem;
    }

    .row {
        width: 380px;
        height: 500px;
    }

    .row img {
        height: 280px;
        width: 340px;
        border: 2px solid white;
        border-radius: 20px;
    }
    .row h3 {
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 33px;
        margin-bottom: 5px;
        font-weight: 700;
        color: #ffffff;
        text-align: center;
    }
    
    .row p {
        padding-top: 30px;
        font-size: 23px;
    }
}