@import url('https://fonts.googleapis.com/css2?family=Mooli&family=Poppins:ital,wght@0,400;1,300&display=swap');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url();
    background-size: cover;
    background-position: center;
}

.input-box {
    position: relative;
    width: 500px;
    height: 600px;
    background: coral;
    border-radius: 1rem;
    margin: auto;
    text-align: center;
}

.input-box h1{
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 60px;
    color: white;
    background-color: rgb(62, 62, 62);
    border-radius: 15px;
}

.orderbox {
    position: relative;
    width: 350px;
    height: 400px;
    background: white;
    border-radius: 1rem;
    margin: auto;
    text-align: center;
}

.orderbox #order {
    background-color: rgb(62, 62, 62);
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
}

.orderbox #ormenu {
    padding-top: 20px;
    padding-bottom: 20px;
}

